.about {
    max-width:800px;
    width: 100%;   
    margin-top: 0px;
    margin-bottom: 32px;
    margin-left: auto;
    margin-right: auto;
    border-top: 4px dashed #51d1e2;
    border-bottom: 4px dashed #51d1e2;
    background: rgba(255, 255, 255, 0.411);
}

.about__headings {
    text-align: center;
}

.about__paragraphs {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 16px 16px;
}

.about__photo {
    margin-right: 10px;
    margin-top: 4px;
    width: 100%;
    max-width: 200px;
    display: block;
    float: left;
    border:2px solid #51d1e2;
}

.footer {
    width: 100%;
    max-width: 100%;
    margin: 0px auto;
    text-align: center;
    background-color: black;
    color: blanchedalmond;
    font-size: 22px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.homepage__body {
    background: rgb(237,229,194);
    background: linear-gradient(0deg, rgba(237,229,194,0.9472163865546218) 0%, rgba(232,247,156,1) 100%);
    margin:0px;
}

.navigation__list {
    display: flex;
    text-align: center;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    justify-content: space-around;  
    background: black;
    margin: 0px;
}

.navigation__item {
    list-style: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    margin: 16px 0px;
}

.news {
    max-width: 800px;
    widows: 100%;
    margin: 32px auto;
    border-top: 4px dashed #51d1e2;
    border-bottom: 4px dashed #51d1e2;
    background: rgba(255, 255, 255, 0.411);
}

.news__head {
    text-align: center;
}

.news__headings {
    font-size: 24px;
    margin-left: 6px;
}

.news__paragraphs {
    font-size: 18px;
    margin: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.site__header {
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background: aliceblue;
    padding: 24px;
    font-size: 46px;
}